reated by http://www.gitignore.io

#!! ERROR: as is undefined. Use list command to see defined gitignore types !!#

### Actionscript ###
# Build and Release Folders
bin/
bin-debug/
bin-release/
.metadata/
morndemo/
.actionScriptProperties
.flexLibProperties
.project

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

